/* Widgets */
@mixin arrow ( $size: 24px, $marginLeft: -30px, $marginRight: 0, $marginTop: -2px ){
  &:before{
    font: normal normal normal $size/1 FontAwesome;
    content: '\f11d';
    float: left;
    clear: none;
    margin: $marginTop $marginRight 0 $marginLeft;
    color: $foxblue;
  }
}

.featuredpost{
  article{
    text-align: left;
    margin-bottom: 2rem;
    margin-left: 30px;

    .entry-content{
      @include arrow();

      clear: none;

      p{
        padding: 0;
      }
    }
  }
}

.widget_nav_menu{
  ul.menu{
    margin-top: 1.5rem;
    margin-left: 2rem;

    li{
      display: block;
      width: 100%;
      font-size: 18px;

      a{
        @include arrow(24px,-20px,8px,-8px);
        padding: 0;
        color: $foxblue;
        text-transform: none;
        font-family: $font-body;
        font-weight: normal;
      }
    }

    &#menu-applications,
    &#menu-products{
      margin-left: 0;

      li{
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        padding-bottom: 0;

        a{
          background-color: #000;
          border: 2px solid #000;
          border-radius: 3px;
          color: #fff;
          padding: 1rem;

          &:hover{
            background-color: #fff;
            color: #000;
          }

          &:before{
            content: '';
            line-height: 1;
            float: none;
            margin: 0;
          }
        }
      }

    }

    &#menu-applications{
      li{
        a{
          background-color: $foxblue;
          border-color: $foxblue;

          &:hover{
            color: $foxblue;
          }
        }
      }
    }
    &#menu-products{
      li{
        a{
          background-color: $accent;
          border-color: $accent;

          &:hover{
            color: $accent;
          }
        }
      }
    }
  }
}